{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Edit My Profile</h1>

        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.bio) }}
        {{ form_row(form.location) }}
        {{ form_row(form.profilePicture) }}
        <button class="btn btn-success mt-3">Save Changes</button>
        {{ form_end(form) }}
    </div>
{% endblock %}