{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <h1>Sign In</h1>

    {% if error %}
        <p style="color: red;">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </p>
    {% endif %}

    {% if app.user %}
        <p>You are logged in as {{ app.user.userIdentifier }}.
            <a href="{{ path('app_logout') }}">Logout</a>
        </p>
    {% endif %}

    <form method="post" novalidate>
        <label for="inputEmail">Email address</label>
        <input type="email"
               name="email"
               id="inputEmail"
               value="{{ last_username }}"
               required
               placeholder="you@example.com">

        <label for="inputPassword">Password</label>
        <input type="password"
               name="password"
               id="inputPassword"
               required
               placeholder="Your password">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div>
            <input type="checkbox" name="_remember_me" id="rememberMe">
            <label for="rememberMe">Remember me</label>
        </div>

        <button type="submit">Sign in</button>
    </form>
{% endblock %}
