{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {% for flash_error in app.flashes('verify_email_error') %}
        <p style="color: red;">{{ flash_error }}</p>
    {% endfor %}

    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.email) }}

    {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}

    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit">Register</button>

    {{ form_end(registrationForm) }}
{% endblock %}
