{% extends 'base.html.twig' %}

{% block title %}Create a Review{% endblock %}

{% block body %}
    <h1>Create a Review for {{ book.title }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.review_text) }}

    {{ form_row(form.rating) }}

    <button type="submit">Submit Review</button>

    {{ form_end(form) }}
{% endblock %}
