{% extends 'base.html.twig' %}

{% block title %}List of Reviews{% endblock %}

{% block body %}
    <h1>Reviews</h1>

    {% if reviews is empty %}
        <p>No reviews have been posted yet.</p>
    {% else %}
        <ul>
            {% for review in reviews %}
                <li>
                    <strong>{{ review.book.title }}</strong> by {{ review.book.author }}<br>
                    {{ review.reviewText }}<br>
                    Rating: {{ review.rating }}/5<br>
                    <a href="{{ path('app_review_show', {'id': review.id}) }}">View Review</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
